<!DOCTYPE html>
<html>
<head>
  <title>Inventorymaster</title>
  <%= stylesheet_link_tag    "inventorymaster/application", media: "all" %>
  <%= javascript_include_tag "inventorymaster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
