<h1>Editando tipo de transação</h1>

<%= render 'form' %>

<%= link_to 'Detalhar', @transaction_type ,:class=>"btn  btn-default" %> |
<%= link_to 'Voltar', transaction_types_path ,:class=>"btn btn-default" %>
